*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #f5f5f5;
}

.icon{
    color: black;
    display: flex;
    align-items: center;
    border-style: ridge;
    border: none;
    border-bottom: 1px solid rgb(194, 194, 194);
    width: 95%;
    margin: auto;
    height: 10vh;
    position: relative;
    justify-content: space-between;
}

nav ul li{
    display: inline;
    padding: 15px;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 200;
    transition: 0.5s;
}

.baru{
    color: white;
}

.nav-animation{
    z-index: 1;
    position: absolute;
    width: 80px;
    height: 24px;
    border-radius: 50px;
    margin: -21px 6px;
    background-color: orangered;
}

.icon h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3.biasa{
    display: none;
}

.profilimg{
    width: 50px;
    height: 50px;
    border-radius: 200px;
}

.profil small{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}
.profil{
    width: 150px;
    display: flex;
    align-items: center;
    display: none;
}

.tmblregister button{
    width: 80px;
    height: 25px;
    background-color: transparent;
    border: 1px solid black;   
}

.tmblregister button:first-child{
    color: rgb(207, 207, 0);
}



.nav-responsive{
    position: relative;
    min-width: 33px;
    min-height: 33px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    border-radius: 4px;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nav-responsive span {
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: orangered;
    border-radius: 4px;
    transition: 0.5s;
}

.nav-responsive span:nth-child(1){
    transform: translateY(-10px);
    width: 15px;
    left: 15px;
}

.nav-responsive span:nth-child(2){
    transform: translateY(10px);
    width: 15px;
    left: 15px;
}

.nav-responsive span:nth-child(3){
    left: 5px;
}


.nav-responsive.active span:nth-child(3){
    transform: translateX(60px);
}

.nav-responsive.active span:nth-child(1){
    transform: translateY(0px) rotate(-45deg);
    width: 25px;
    left: 5px;
    transition-delay: 0.125s;
}

.nav-responsive.active span:nth-child(2){
    transform: translateY(0px) rotate(-315deg);
    width: 25px;
    left: 5px;
    transition-delay: 0.25s;
}

nav{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.active{
    margin-left: -280px;
}   




@media screen and (max-width: 800px) {

    h3.respon{
        display: none;
    }

    h3.biasa{
        display: block;
    }
    nav{
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    justify-content:space-around;
    align-items: center;
    background-color: white;
    top: 0px;
    left: 325px;
    right: 0;
    bottom: 0px;
    margin-left: 800px;
    padding-top: 200px;
    transition: 0.5s;
    }  

    nav ul{
        display: flex;
        flex-direction: column;
        margin-top: -200px;
    }

    
    .baru{
        color: orangered;
    }

    .login{
        margin-top: -200px;
    }

    .tmblregister{
    }
    
    .profil{
        position: relative;
        flex-direction: column-reverse;
    }
    
    .profil small{
        text-decoration: underline;
        margin-top: -15px;
    }

    .nav-animation{
        display: none;
    }

    .nav-responsive{
        display: flex;
    }
}

@media screen and (max-height: 333px) {
    .icon{
        border: none;
    }
}